use flake

export NEXUS_URL="http://localhost:8081/repository/maven-releases/"
export NEXUS_USERNAME="admin"
export NEXUS_PASSWORD="admin123"
export NEXUS_DIR="/home/rxda/Documents/code/java/srv-solon-gateway-nacos/dep"
export NEXUS_FORCE="false"
export NEXUS_MAX_MB="30"